/* první řádek filtrů */
body > div:first-of-type {
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;
}

/* druhý řádek filtrů */
body > div:nth-of-type(2) {
  position: sticky;
  top: 40px; /* výška prvního řádku */
  background: white;
  z-index: 20;
}

/* hlavička tabulky */
th {
  position: sticky;
  top: 80px; /* součet obou řádků */
  background: white;
}

.selected {
  background: #d9d9d9;
}

.selected td {
  background: #d9d9d9;
}
