/* celý horní panel */
.topbar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;
  border-bottom: 1px solid #ccc;
}

/* hlavička tabulky */
th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}


table {
  background: white;
}
.selected {
  background: #d9d9d9;
}

.selected td {
  background: #d9d9d9;
}
